* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.title {
    text-align: center;
}
.text {
    fill: none;
    stroke: #000000;
    stroke-width: 8;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    stroke-dasharray: 260px;
    stroke-dashoffset: 260px;
    animation: show 1.6s ease-in-out forwards;
}

#svg-2 {
    stroke-width: 3;
    stroke-dasharray: 100px;
    stroke-dashoffset: 100px;
    animation: show 1.6s ease-in-out forwards;
}
@keyframes show {
    to {
        stroke-dashoffset: 0px;
    }
}
